.profile-modal {
	z-index: 9999;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: black#00000033;
	display: flex;
	justify-content: center;
	align-items: center;

	.modal-content {
		position: relative;
		display: flex;
		flex-direction: column;
		background: white;
		border-radius: 8px;
		box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
		max-width: 600px;
		width: 90%;
		padding: 20px;
	}

	.modal-info {
		position: relative;
		display: flex;

		.img-modal {
			width: 50%;
			height: auto;
			aspect-ratio: 1;
			margin-right: 20px;
			background-color: lightgray;
			border-radius: 20px;
			box-shadow: 0 0 5px black;

			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.profile-details {
			width: 50%;
			border-radius: 10px;
			background-color: lightgray;
			padding: 15px;
			display: flex;
			flex-direction: column;
			gap: 10px;
			box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

			h2 {
				padding: 0;
				margin: 0;
			}

			p,
			button {
				margin: 0;
				padding: 8px;
				border-radius: 5px;
				background-color: white;
				transition: background-color 0.05s;
			}

			p:hover {
				background-color: #f0f0f0;
			}
		}
	}
}
