.profile-modal {
	.profile-modal-overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.6);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1000;
	}

	.profile-modal-content {
		background: #ffffff;
		width: 400px;
		border-radius: 12px;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
		position: relative;
		border: 1px solid #e0e0e0;
		overflow: hidden;
	}

	.close-btn {
		position: absolute;
		top: 15px;
		right: 15px;
		background: transparent;
		border: none;
		font-size: 18px;
		color: #2e7d32;
		cursor: pointer;
		transition: transform 0.2s ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}

	.profile-header {
		text-align: center;
		background-color: rgb(193, 230, 193);
		padding: 20px 0 5px 0;
	}

	.profile-img {
		width: 110px;
		height: 110px;
		border-radius: 50%;
		object-fit: cover;
		border: 3px solid #2e7d32;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}

	.username {
		color: #4f4f4f;
		font-size: 16px;
		font-weight: 600;
	}

	.profile-details {
		padding: 0 25px;

		margin-top: 15px;
		font-size: 15px;
		color: #333;

		p {
			margin: 8px 0;
			display: flex;
			align-items: center;
			font-weight: 500;
		}

		strong {
			color: #2e7d32;
			margin-right: 8px;
		}
	}

	.modal-footer {
		padding: 25px 0 25px 0;
		display: flex;
		justify-content: center;
		margin-top: 25px;
	}

	.close-btn-footer {
		background-color: #2e7d32;
		color: #fff;
		padding: 10px 25px;
		border: none;
		border-radius: 8px;
		cursor: pointer;
		font-size: 14px;
		font-weight: bold;
		transition: background 0.3s;

		&:hover {
			background-color: #1b5e20;
		}
	}
}
